<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<h1>Wanbao</h1>
	<p>Web page for Wanbao</p>
	<p>	<%= link_to 'View Comments >>', comments_path, { :style=>'color:#FFFFFF;', :class=>"btn btn-primary btn-lg" } %></p>
